.simpleMind {
    position: relative;
}

.root {
    //
}

.elementLayer {
    display: flex;
    align-items: center;
    justify-content: center;
    .listContainer {
        display: flex;
        flex-direction: column;
        gap: var(--col-gap);
        justify-content: center;
        &.left {
            align-items: flex-end;
        }
        &.right {
            align-items: flex-start;
        }
    }
}

.lineLayer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
